html, body{
    height: 100%;
}

.tableau{
    height: 95%;

    display: grid;

    /* I tried having the tableau in both landscape and portrait persepectives.
    portrait provided more white space, with vertical scrolling that in I feel
    is more familiar to users and more web friendly */

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* Class created to test visual feel of tableau */

.card-square{
    display: inline-block;
    height: 200px;
    width: 122px;
    background: #92382f;
    margin: 10px;

    box-shadow: 5px 5px 8px 5px #9a9a9a;
}

@media screen and (max-width: 834px){

    .tableau{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: column;
    }

    .card-square{
        height: 100px;
        width: 61px;
    }
}