body{
    height: 100%;
    width: 100%;
}

.tableau{
    height: 95%;

    display: grid;

    /* I tried having the tableau in both landscape and portrait persepectives.
    portrait provided more white space, with vertical scrolling that in I feel
    is more familiar to users and more web friendly */

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
}


/* Class created to test visual feel of tableau */

.card-square{
    display: inline-block;
    height: 200px;
    width: 122px;
    background: black;
    margin: 10px;
}