html, body{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;

    align-content: center;
    justify-items: center;
}

/*-----------------------------------
    Styling for start page
-----------------------------------*/
.start-screen{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button {
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-decoration: none;
    color: #ffffff;

    text-align: center;
  }

.button-container{
    background-color: #92382f;
    display: flex;
    justify-content: space-around;
    width: 90%;
    border-radius: 20px;
}

.start-screen h1{
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    color: #000000;
    font-size: 6rem;
}

a > img{
    display: block;
}

/*-----------------------------------
    Styling for the tableau
-----------------------------------*/

.tableau{
    height: 95%;
    display: grid;
    align-items: center;
    justify-items: center;

    /* I tried having the tableau in both landscape and portrait persepectives.
    portrait provided more white space, with vertical scrolling that in I feel
    is more familiar to users and more web friendly on larger screens*/

    grid-template-columns: repeat(11, 132px);
    grid-template-rows: repeat(4, 210px);
}

/* Class created to test visual feel of tableau */

.card-square{
    display: inline-block;
    height: 200px;
    width: 122px;
    background: #92382f;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 2.5px 2.5px 5px 3px #9a9a9a;
}

.willows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.willows .card-square{
    margin: 5px;
}

.stock-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.message{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.stock-card{
    text-align: center;
}

.wrong-card{
    animation: shake 0.15s;
}

@keyframes shake {

    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }

}

/*------------------------------------------
    Styling for the info page and nav bars
-------------------------------------------*/
header{
    width: 100%;
    margin-bottom: 2.5%;
}

header, footer{
    background-color: #92382f;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    box-sizing: border-box;
    padding: 4px;
}

nav a {
    color: #ffffff;
    text-decoration: none;

    font-weight: 900px;
    padding: 10px;
}

.home{
    border: 2px solid #ffffff;
    border-radius: 5px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 2.5%;
}

.social-media{
    margin: 5px;
}

/*-----------------------------------
    Reactive styling
-----------------------------------*/


@media screen and (max-width: 1900px){
    .tableau{
        grid-template-columns: repeat(11, 101.5px);
        grid-template-rows: repeat(4, 160px);
    }

    .card-square{
        width: 91.5px;
        height: 150px;
    }
}

@media screen and (max-width: 1350px){
    .tableau{
        grid-template-columns: repeat(11, 71px);
        grid-template-rows: repeat(4, 120px);
    }

    .card-square{
        width: 61px;
        height: 100px;
    }
}

@media screen and (max-width: 930px){
    main{
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    .tableau{           
        /* This property allows me to adjust the orientation of the screen as
        a user resizes it, without having to change the calculations used to
        check the placement of the cards.*/
        grid-auto-flow: column;
        grid-template-columns: repeat(4, 30.5px);
        grid-template-rows: repeat(11, 50px);
        grid-gap: 10px;
    }

    .tableau .card-square{
        height: 50px;
        width: 30.5px;
    }
}

@media screen and (max-width: 375px){

    .tableau{
        grid-gap: 5px;
    }

    .stock-card > * , .willows > * {
        height: 75px;
        width: 45.75px;
    }
}